body {
    background-color: lightgray;
}
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.post {
    background-color: #f0f0f0;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}